@model IEnumerable<AllBanksDiploma.Models.LoanPayments>

@{
    ViewBag.Title = "CalcLoanPayments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Расчет платежей по кредиту</h2>

<table class="table">
    <tr>
        <th>Месяц</th>
        <th>Погашение основного долга</th>
        <th>Погашение процентов</th>
        <th>Всего оплата за месяц</th>
        <th>Остаток основного долга</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Debt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
    </tr>
    }
</table>
<div>Сумма переплаты: @ViewBag.OverPayment</div>
